* {
    outline: 1px solid red;
    font-family: "Arial";
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

p {
    margin: 0;

}


/* p b {
    display: inline-block;
} */

.wrapper {
    box-sizing: border-box;
    max-width: 960px;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 15px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}




.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;



}

.logo img {
    height: 40px;
    width: 40px;
    margin-right: 8px;
}


.shedule {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    /* margin-right: 10px; */
    column-gap: 10px;
    font-weight: bold;
}

.worker {
    font-size: 14px;
}

/* .worker {
    display: inline-block;
} */


.phone {
    display: flex;
    align-items: center;
    /* gap: 10px; */
    /* text-decoration: none; */
    color: #5a5a5a;
    column-gap: 10px;

}

.phone a {
    font-weight: bold;
    font-size: 14px;
}

p a {
    color: #5a5a5a;
}

a {
    text-decoration: none;
}



em {
    /* display: inline-block;
    font-size: 22px;

    color: #39930d;
    margin: 0; */
    font-size: 14px;
    color: #5a5a5a;
    font-weight: bold;
    /* text-align: right; */



}

strong {
    display: inline-block;
    font-size: 44px;
    color: #39930d;
    font-weight: bold;
    margin: 0;

}

.heder_right {
    display: flex;
    justify-content: flex-end;
    align-items: top;
    column-gap: 30px;
}

.main_img {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

main {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    column-gap: 20px;

}

nav {
    min-width: 300px;
    width: 100%;
}

h1 {
    color: #39930d;
}

h2 {
    /* display: flex; */
    /* box-sizing: border-box; */
    /* align-items: flex-end; */
    font-size: 24px;
    background-color: #39930d;
    color: #fff;
    font-weight: bold;
    font-family: "Arial";
    /* padding: 0; */
}

ul {
    box-sizing: border-box;
    list-style: none;
    font-size: 14px;
    line-height: 30px;
    text-decoration: underline;
    text-transform: uppercase;

    margin: 0;
    padding: 20px;



}

.section_right {
    font-size: 14px;
    padding-bottom: 50px;
}

.section_right p {
    margin-bottom: 20px;
}

footer {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    /* justify-content: start; */
    background-color: #39930d;
    width: 960px;
    /* height: 44px; */
    margin: 0 auto;
    /* margin-top: 20px; */
    padding: 11px 15px;
    font-size: 14px;
    color: #ffffff;
}


.icons {
    display: flex;
    column-gap: 10px;
}


/* 
.schedule {
    display: flex;
    align-items: center;
} */